*.apk
*.zip
*.exe
*.iml
*.jks
*.log
*.pyc
*.ffs_db
*.patch
*.salive
.tmp_*.txt

.DS_Store
.externalNativeBuild
.cxx/
output.json
output-metadata.json
desktop.ini

.bak/
.git/
.gradle/
.hprof/
__pycache__/

!.run
!opencc-native/src/main/assets/opencc/*.zip

.idea/*

/build/
/libs/**/build/
/modules/**/build/
/plugin-api/**/build/
/captures/
/release/
/releases/
/tools/*
!/tools/nodejs/
!/tools/nodejs/**

/gradle/wrappers/backup/

/local.properties
/sign.properties
/*dependecies_tree.txt

**/assets-app/declarations/
**/assets-app/sample/declarations/

app/build/
opencc-native/build/
build-logic/build/
build-logic/*/build/
