<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="org.autojs.permission.PLUGIN" />

    <queries>
        <package android:name="org.autojs.autojs6" />
    </queries>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_system"
        android:roundIcon="@mipmap/ic_launcher_system"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false">

        <meta-data
            android:name="org.autojs.plugin.contract.NATIVE_PAGE_ALIGNMENT"
            android:value="16384" />

        <meta-data
            android:name="org.autojs.plugin.WAKE_ACTIVITY"
            android:value=".WakeActivity" />

        <meta-data
            android:name="org.autojs.plugin.info.AUTHOR"
            android:value="@string/plugin_author" />

        <activity
            android:name=".ThreeHanziCcActivity"
            android:exported="true"
            android:theme="@style/Theme.ThreeHanziCc"
            android:windowSoftInputMode="adjustResize" />

        <!-- Stable launcher aliases leave the real Activity available to existing explicit intents. -->
        <activity-alias
            android:name=".launcher.AdaptiveLightIconAlias"
            android:targetActivity=".ThreeHanziCcActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_system_light"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.AdaptiveDarkIconAlias"
            android:targetActivity=".ThreeHanziCcActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_system"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.AdaptiveAutoIconAlias"
            android:targetActivity=".ThreeHanziCcActivity"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_system_auto"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.TransparentIconAlias"
            android:targetActivity=".ThreeHanziCcActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_transparent"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".WakeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:permission="org.autojs.permission.PLUGIN"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="org.autojs.plugin.action.WAKE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AppSettingsActivity"
            android:exported="false"
            android:parentActivityName=".ThreeHanziCcActivity"
            android:theme="@style/Theme.ThreeHanziCc" />

        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:parentActivityName=".AppSettingsActivity"
            android:theme="@style/Theme.ThreeHanziCc" />

        <activity
            android:name=".ReleaseHistoryActivity"
            android:exported="false"
            android:parentActivityName=".AppSettingsActivity"
            android:theme="@style/Theme.ThreeHanziCc" />

        <service
            android:name=".ThreeHanziCcInfoService"
            android:exported="true"
            android:permission="org.autojs.permission.PLUGIN">
            <meta-data android:name="requiresHostVersion" android:value="@string/plugin_requires_host_version" />
            <intent-filter>
                <action android:name="org.autojs.plugin.INFO" />
                <category android:name="three-hanzi-cc" />
            </intent-filter>
        </service>

        <service
            android:name=".ThreeHanziCcService"
            android:exported="true"
            android:permission="org.autojs.permission.PLUGIN">
            <intent-filter>
                <action android:name="org.autojs.plugin.OPENCC" />
                <category android:name="opencc" />
            </intent-filter>
        </service>

        <!-- Both libraries below ship auto-start components; this plugin must expose zero
             providers or library receivers (the update-only icon receiver is intentional). -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:ignore="MissingClass"
            tools:node="remove" />

        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            tools:ignore="MissingClass"
            tools:node="remove" />

        <!-- Update-only repair keeps one launcher entry after changing the default to Auto. -->
        <receiver android:name=".LauncherIconUpdateReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
